{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %}{% endblock %} </title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>

<body>
    <!--Navbar Start-->
    {% include "components/navbar.html" %}
    <!--Navbar End-->
    <!--Main Part-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-9">
                {% block content %} {%endblock%}
                <!--Main Part-->
                <!--Side-bar Start-->
            </div>
            <div class="col-sm-3">
                {% include "components/sidebar.html" %}
            </div>
            <!--Side-bar End-->
        </div>

        <!--Pagination End-->
        <!--Footer Start-->
        {% include "components/footer.html" %}
    </div>
    <!--Footer End-->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>










