<div class="col-sm-3">
  <div class="card" style="width: 18rem;">
    {% if request.user.is_authenticated %}
    <div class="card-header">
      MENU
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">My Profil</li>
      <li class="list-group-item">Change Password</li>
      <li class="list-group-item">Add Text</li>
      <li class="list-group-item">
        <a href=" {% url 'mytext' %} ">
          My Texts
        </a>
      </li>
      <li class="list-group-item">Exit</li>
    </ul>
    {% else %}
    Login formu gelecek
    {% endif %}
  </div>
</div>